@keyframes ldio-63eo66kwxha-1 {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(-45deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes ldio-63eo66kwxha-2 {
	0% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(225deg);
	}

	100% {
		transform: rotate(180deg);
	}
}

.ldio-63eo66kwxha > div:nth-child(2) {
	transform: translate(-15px,0);
}

.ldio-63eo66kwxha > div:nth-child(2) div {
	position: absolute;
	top: 22.200000000000003px;
	left: 22.200000000000003px;
	width: 66.60000000000001px;
	height: 33.300000000000004px;
	border-radius: 66.60000000000001px 66.60000000000001px 0 0;
	background: #fbbc42;
	animation: ldio-63eo66kwxha-1 0.4255319148936171s linear infinite;
	transform-origin: 33.300000000000004px 33.300000000000004px;
}

.ldio-63eo66kwxha > div:nth-child(2) div:nth-child(2) {
	animation: ldio-63eo66kwxha-2 0.4255319148936171s linear infinite;
}

.ldio-63eo66kwxha > div:nth-child(2) div:nth-child(3) {
	transform: rotate(-90deg);
	animation: none;
}

@keyframes ldio-63eo66kwxha-3 {
	0% {
		transform: translate(105.45px,0);
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	100% {
		transform: translate(38.85px,0);
		opacity: 1;
	}
}

.ldio-63eo66kwxha > div:nth-child(1) {
	display: block;
}

.ldio-63eo66kwxha > div:nth-child(1) div {
	position: absolute;
	top: 51.06px;
	left: -4.44px;
	width: 8.88px;
	height: 8.88px;
	border-radius: 50%;
	background: #01080a;
	animation: ldio-63eo66kwxha-3 0.4255319148936171s linear infinite;
}

.ldio-63eo66kwxha > div:nth-child(1) div:nth-child(1) {
	animation-delay: -1.5744999999999998s;
}

.ldio-63eo66kwxha > div:nth-child(1) div:nth-child(2) {
	animation-delay: -0.7755s;
}

.ldio-63eo66kwxha > div:nth-child(1) div:nth-child(3) {
	animation-delay: 0s;
}

.loadingio-spinner-bean-eater-ybl8jhu3zcq {
	width: 111px;
	height: 111px;
	display: inline-block;
	overflow: hidden;
	background: none;
}

.ldio-63eo66kwxha {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0;
 /* see note above */;
}

.ldio-63eo66kwxha div {
	box-sizing: content-box;
}
